{% extends "base.html" %}

{% load static %}

{% block title %}
    Item page
{% endblock  %}

{% block style %}
    {{ block.super}}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock  %}

{% block content %}
    {{ block.super }}

    <h2> Имя: {{ item.name }} </h2>
    <div>
        Количество: {{ item.count | default:"Товар отсутствует" }}
    </div>
    <div>
        Описание: {{ item.description }}
    </div>
    <i>Цвета:</i>
    {% if colors %}
    <ul class='ul_no_mark'>
        {% for color in colors %}
            <li><div class='div_color' style='background-color: {{ color.name }};'></div>&nbsp;&nbsp; {{ color.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <br>Данных по цветам нет
    {% endif %}
    <br><br>
    <p> <a href="{% url "items-list" %}"> Назад к списку товаров </a></p>

{% endblock %}